{% extends 'base.html' %}
{% load static %}
{% block title %}{{ persona.first_name }}{% endblock title %}

{% block body %}
{% comment %}Header{% endcomment %}
{% include 'includes/header.html' %}

<div class="container">

    {% comment %}titulo // variable de contexto adicionada{% endcomment %}
    <h3>Todos los datos | {{ titulo }}</h3>

    {% comment %}  {{ persona.avatar.url }}{% endcomment %}
    <div class="container">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                {% if persona.avatar %}
                    <img src="{{ persona.avatar.url }}" class="card-img-top"
                         alt="{{ persona.first_name }} {{ persona.last_name }}">
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ persona.first_name }} {{ persona.last_name }}</h5>
                    {% comment %}.get_job_display // permite traer el valor en un campo Choice{% endcomment %}
                    <p class="card-text">Job: {{ persona.get_job_display }}.</p>
                    <p class="card-text">Departamento: {{ persona.departamento.short_name }}.</p>
                    <hr>
                    <p>Habilidades:</p>
                    <ul>
                    {% comment %} Accede a la relacion many to many  y con all devueleve todo el objeto {% endcomment %}
                        {% for habilidad in persona.habilities.all %}
                        <li>{{ habilidad.hability }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <hr>
    {{ persona }}
</div>
{% endblock body %}
